<body class="body" style="background-image: url('/assets/librarypic.jpg'); height: 600px;
width: 1500px; opacity: 1; ">
<h1 class="font-weight-bold">Welcome to my Library Management System</h1>
<br>
<h2 class="font-weight-bold">Enjoy by reading Your Favourite books...</h2>
<div class="center">

<span class="font-weight-bold" style="color:yellow;font-size: x-large;">Not a Member? <button type="submit" class="btn btn-primary btn-lg" (click)="goToRegister()">Click here to Register!!</button></span>
</div>
</body>
