input[type=email],select{
   
    width:100%;
}
input[type=password],select{
    
    width: 100%;
}

.container-fluid{
    width: device-width;
    max-width: 800px;
    height: device-height;
    max-height: 1000px;
    margin:auto;
    background-color: lightsalmon;
    padding: 10px;
    padding-top: 5px;
    
}