
<body>
    <h1 class="font-weight-bold" style="font-size: xx-large;">
        Hello Admin!!!
    </h1>
    <div class="container-fluid">
        <button type="submit" class="btn btn-primary btn-lg"  style="margin:5px;" (click)="goToSearchPage()">Search</button>
        <button type="submit" class="btn btn-primary btn-lg"  style="margin:5px;" (click)="goToCreatePage()">Insert</button>
        <button type="submit" class="btn btn-primary btn-lg" style="margin:5px;" (click)="goToUpdatePage()">Update</button>
        <button type="submit" class="btn btn-primary btn-lg" style="margin:5px;" (click)="goToDeletePage()">Delete</button>
        <button type="submit" class="btn btn-primary btn-lg" style="margin:5px;" (click)="toViewUserPage()">View Books</button>
        <button type="submit" class="btn btn-primary btn-lg" style="margin:5px;" (click)="buyRentUsers()">View Buy/Rent Users</button>
    
    </div>
</body>
